html{
	font-size:25px;
    line-height:2rem;
    width: 100vw;
    height: 100vh;
    display: block;
}
body{
	font-family:'IBM Plex Mono',monospace;
	background-color: #101117;
	color: #cfd0d6;
	display: block;
	margin-top: 5em;
	margin-bottom: 5em;
	margin-left: 3em;
	margin-right: 3em;
}
.subhero{

}
.herotext{
	font-size: 1.3rem;
	line-height: 3rem;
}
.desc1{
	margin-top: 5rem;
	font-size: 1.2rem;
	line-height: 2.2rem;
}
.desc2{
	margin-top: 1rem;
	font-size: 1.2rem;
	line-height: 1.7rem;
}
.required_email{
	margin-bottom: 1rem;
	margin-top: 3rem;
	background-color: #292c3d;
	border-style: none;
	height: 3rem;
	width: 30rem;
}
input{
	font-family:'IBM Plex Mono',monospace;
	color: #cfd0d6;
	font-size: 1em;
	padding-left: 0.5em;
	border-radius: 2px;
}
input:placeholder {
	font-family:'IBM Plex Mono',monospace;
	color: #cfd0d6;
	font-size: 1em;
	padding-left: 0.5em;
}
input:focus{
	font-family:'IBM Plex Mono',monospace;
	color: #cfd0d6;
	font-size: 1em;
	padding-left: 0.5em;
	outline-color: #cfd0d6;
}
.button{
	font-family:'IBM Plex Mono',monospace;
	border-style: solid;
	border-width: 1px;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom-color: #cfd0d6;
	background-color: #292c3d;

	padding: 0.7em;
}
mark{
	color: white;
	background-color: #292c3d;
}
