svg *{
    fill:#f9f43e;
}
.vw{
    max-width:2200px;
    margin-left:auto;
    margin-right:auto;
    padding-top:11.11111rem;
    position:relative;
    z-index:1;
    top:0;
    left:0;
    right:0;
    -webkit-backface-visibility:hidden
}
@media (max-height:900px),(max-width:1024px){
    .vw{
        padding-top:6.66667rem
    }
    .vw:after{
        height:40rem
    }
}
svg.arrow{
    display:inline-block
}
svg.arrow line,svg.arrow polyline{
    stroke-width:2px;
    fill:none;
    shape-rendering:crispEdges;
    vector-effect:non-scaling-stroke
}
.cta .btn{
    display:inline-block;
    background:#4df7ca;
    color:#212121;
    padding:1.11111rem 2.22222rem;
    position:relative;
    top:0;
    -webkit-transition:top .2s ease;
    -o-transition:top ease .2s;
    transition:top .2s ease;
    vertical-align:middle;
    text-transform:uppercase;
    border:0;
    font-family:'IBM Plex Mono',monospace;
    font-size:.88889rem;
    line-height:2.22222rem;
    cursor:pointer
}
.cta .btn svg{
    width:1rem;
    height:1rem;
    margin-left:.55556rem;
    position:relative;
    left:0;
    top:.11111rem
}
.cta .btn:hover{
    -webkit-animation-name:none;
    animation-name:none
}
.cta .btn:hover svg{
    left:8px
}
.cta .btn:active,.cta .btn:focus{
    outline:0
}
.cta{
    border:2px solid #f9f43e;
    margin-left:4.44444rem;
    margin-right:4.44444rem;
    margin-bottom:2.22222rem;
    padding:3.33333rem;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-pack:justify;
    justify-content:space-between;
    -ms-flex-align:center;
    align-items:center
}
.cta h2{
    color:#f9f43e
}
.cta .btn{
    background-color:#f9f43e
}
.cta h2{
    margin-bottom:0
}
.cta .btn line,.cta .btn polyline{
    stroke:#212121
}
.cta.d{
    border:2px solid #f9f43e
}
.cta.d h2{
    color:#f9f43e
}
.cta.d .btn{
    background-color:#f9f43e
}
@media (max-height:900px),(max-width:1024px){
    .cta{
        margin-left:2.22222rem;
        margin-right:2.22222rem;
        margin-bottom:2.22222rem
    }
}
@media (max-width:1024px){
    .cta{
        display:block;
        text-align:center
    }
    .cta h2{
        margin-bottom:2.22222rem
    }
}
@media (max-width:750px){
    .cta{
        margin-left:1.66667rem;
        margin-right:1.66667rem;
        margin-bottom:1.66667rem
    }
}
@font-face{
    font-family:'IBM Plex Mono',monospace;
    font-weight:400;
    font-style:normal
}
@font-face{
    font-family:'IBM Plex Mono',monospace;
    font-weight:400;
    font-style:normal
}
@font-face{
    font-family:'IBM Plex Mono',monospace;
    font-weight:400;
    font-style:normal
}
.d .l ul li{
    text-transform:uppercase;
    letter-spacing:.16667rem;
    font-size:.88889rem;
    font-family:'IBM Plex Mono',monospace
}
.d h1,.d h2{
    color:#f9f43e
}
.d .s>li:before{
    border:2px solid #f9f43e;
    color:#f9f43e
}
.d .wrp{
    padding-left:4.44444rem;
    padding-right:4.44444rem
}
.d .rw{
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    margin-right:-1.11111rem;
    margin-left:-1.11111rem;
    margin-bottom:2.22222rem
}
.d h1{
    margin-left:1.11111rem;
    margin-right:1.11111rem;
    width:calc(83.33333% - 2.24444rem)
}
@media (max-width:750px){
    .d h1{
        width:calc(100% - 2.22222rem);
        margin-left:1.11111rem;
        margin-right:1.11111rem
    }
}
.d .intro{
    margin-left:1.11111rem;
    margin-right:1.11111rem;
    width:calc(41.66667% - 2.24444rem)
}
.d .c{
    margin-left:1.11111rem;
    width:calc(50% - 2.24444rem);
    margin-right:1.11111rem;
    margin-left:calc(8.33333% + 1.11111rem)
}
.d .b{
    margin-left:1.11111rem;
    margin-right:1.11111rem;
    width:calc(41.66667% - 2.24444rem)
}
.d .b+.l{
    margin-right:1.11111rem;
    margin-left:calc(8.33333% + 1.11111rem)
}
.d .l{
    margin-left:1.11111rem;
    margin-right:1.11111rem;
    width:calc(16.66667% - 2.24444rem)
}
.d .l ul{
    list-style:none;
    padding:0
}
.d .l ul li{
    color:#f9f43e;
    line-height:1.11111rem;
    margin-bottom:1.11111rem
}
.d .s{
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    margin-right:-1.11111rem;
    margin-left:-1.11111rem;
    list-style:none;
    padding-left:0;
    margin-bottom:4.44444rem
}
.d .s>li{
    margin-left:1.11111rem;
    margin-right:1.11111rem;
    width:calc(20% - 2.24444rem);
}
@media (max-width:1024px){
    .d .s>li{
        width:calc(100% - 2.22222rem);
        margin-left:1.11111rem;
        margin-right:1.11111rem
    }
}
.d .s>li:before{
    width:2.22222rem;
    height:2.22222rem;
    padding:1.11111rem;
    margin-bottom:2.22222rem;
    text-align:center;
    display:inline-block
}
@media (max-height:900px),(max-width:1024px){
    .d .wrp{
        padding-left:1.66667rem;
        padding-right:1.66667rem
    }
}
@media (max-width:1024px){
    .d .b,.d .c,.d .intro{
        width:calc(100% - 2.22222rem);
        margin-left:1.11111rem;
        margin-right:1.11111rem
    }
}
@media (max-width:1024px){
    .d .b+.l,.d .c{
        margin-left:1.11111rem
    }
    .d .l{
        width:33.33%
    }
    .d .s{
        display:block
    }
    .d .s,.d .s li{
        margin-bottom:2.22222rem
    }
}
.vw.ss label.title{
    text-transform:uppercase;
    letter-spacing:.16667rem;
    font-size:.88889rem;
    font-family:'IBM Plex Mono',monospace
}
.vw.ss{
    padding:8.88889rem 0 0
}
.vw.ss label.title{
    padding-left:4.44444rem;
    padding-right:4.44444rem;
    display:block;
    margin:0 0 2.22222rem
}
.vw.ss label.title.d{
    color:#f9f43e
}
@media (max-height:900px),(max-width:1024px){
    .vw.ss h1{
        font-size:3.33333rem;
        line-height:1
    }
    .vw.ss label.title{
        padding-left:2.22222rem;
        padding-right:2.22222rem
    }
}
@media (max-width:750px){
    .vw.ss h1{
        font-size:2.77778rem;
        margin-bottom:2.22222rem
    }
}
.btn{
    display:inline-block;
    background:#4df7ca;
    color:#212121;
    padding:1.11111rem 2.22222rem;
    top:0;
    -webkit-transition:top .2s ease;
    -o-transition:top ease .2s;
    transition:top .2s ease;
    vertical-align:middle;
    text-transform:uppercase;
    border:0;
    font-family:'IBM Plex Mono',monospace;
    font-size:.88889rem;
    line-height:2.22222rem;
    cursor:pointer
}
.btn,.btn svg{
    position:relative
}
.btn svg{
    width:1rem;
    height:1rem;
    margin-left:.55556rem;
    left:0;
    top:.11111rem
}
.btn:hover{
    -webkit-animation-name:none;
    animation-name:none
}
.btn:hover svg{
    left:8px
}
.btn:active,.btn:focus{
    outline:0
}
h1,h2,h3,h4{
    font-family:'IBM Plex Mono',monospace;
    font-weight:700
}
h1{
    margin:0 0 3.88889rem;
    font-size:3.88889rem;
    line-height:1.25
}
h2,h3{
    margin:0 0 2.22222rem;
    font-size:2.22222rem;
    line-height:1.25
}
h3{
    font-weight:500
}
h4{
    margin:0 0 2.22222rem;
    font-size:1.66667rem
}
h4{
    line-height:1.5
}
p,ul{
    margin:0 0 2.22222rem
}
a{
    text-decoration:none;
    color:#4df7ca
}
a:hover{
    color:#f9f43e
}
*{
    -webkit-box-sizing:border-box;
    box-sizing:border-box
}
body{
    font-family:'IBM Plex Mono',monospace;
    margin:0;
    background-color:#212121;
    font-weight:300;
    color:#fff;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}


html{
    font-size:18px;
    line-height:2.22222rem
}
@media (max-width:1440px){
    html{
        font-size:16px
    }
}
@media (max-width:1024px){
    html{
        font-size:15px;
        line-height:1.77778rem
    }
}
@media (max-width:750px){
    html{
        font-size:13px
    }
}
::selection{
    background:#f9f43e;
    color:#212121
}
::-moz-selection{
    background:#f9f43e;
    color:#212121
}
.rw{
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    margin-right:-1.11111rem;
    margin-left:-1.11111rem
}
body::-webkit-scrollbar{
    display:none
}
.app{
    height:100%
}
li{
    list-style: none;
}
