html{
	font-size:25px;
    line-height:2rem;
    width: 100vw;
    height: 100vh;
    display: block;
}
body{
	font-family:'IBM Plex Mono',monospace;
	background-color: #101010;
	color: white;
	display: block;
	margin-top: 10em;
	margin-left: 5rem;
	margin-right: 5rem;
}
.subhero{
	color: #f9f43e;
}
.herotext{
	color:#f9f43e;
	font-size: 1.6rem;
	line-height:3.5rem;

}
.desc1{
	margin-top: 5rem;
    width: 80%;
    font-weight: 300;
}
.desc2{
	margin-top: 1rem;
    width: 80%;
    font-weight: 300;
}
