html{
	font-size:25px;
    line-height:2rem;
    display: block;
}
body{
	font-family:'IBM Plex Mono',monospace;
	background-color: #101117;
	color: #cfd0d6;
	display: block;
	margin-top: 7em;
	margin-bottom: 7em;
	margin-left: 3em;
	margin-right: 3em;
}
.hero{
	margin-bottom: 3rem;
}
.herotext{
	color:#cfd0d6;
	font-size: 1.3rem;
	line-height:3rem;
}
.desc2{
	margin-top: 1rem;
	font-size: 1.2rem;
	line-height: 1.7rem;
	margin-bottom: 3em;
}
.desc21{
	margin-top: 1rem;
	font-size: 1.2rem;
	line-height: 1.7rem;
	margin-bottom: 2em;

}
.desc22{
	font-size: 1.2rem;
	line-height: 2.2rem;
	margin-bottom: 5em;
}
mark{
	color: white;
	background-color: #292c3d;

}
